app-experience-card {
  display: inline-block;
  padding: 12px;
  width: 300px;
  flex-basis: auto;
  flex-shrink: 0;
  flex-grow: 1;
  .p-card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    .p-card-content {
      flex-grow: 1;
    }
    .card-flex {
      height: 100%;
    }
  }
}
