/* You can add global styles to this file, and also import other style files */
@import "assets/scss/components.scss";
@import "assets/scss/flexbox.scss";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "assets/scss/primeng.scss";

:root {
  --max-width: 1480px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eff3f8;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-header {
  position: fixed;
  z-index: 2;
  transform: translateZ(2px);
  .nav-container {
    margin: 0 auto;
  }
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  .content {
    max-width: var(--max-width) !important;
    margin: 2vw 2vh;
  }
  .content app-home {
    display: block;
    background-color: #fff;
    border-radius: 1vw;
    overflow: hidden;
  }
}

app-header,
app-footer {
  width: 100vw;
}

@media screen and (max-width: 1479px) {
  app-header > .nav-container,
  main > .content,
  footer {
    width: calc(100vw - 4vw);
  }
}

@media screen and (min-width: 1480px) {
  app-header > .nav-container,
  main > .content,
  footer {
    width: var(--max-width);
  }
}
