<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <span class="block text-6xl font-bold mb-1">Ollie Tinsley</span>
      <div class="text-6xl text-primary font-bold mb-3">Software Engineer</div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        With over 15 years developing rich Web Applications with the last seven
        and a half years focusing on building Single Page Applications (SPA)...
        I've built this full-stack application to showcase my abilities.
      </p>

      <button
        pButton
        pRipple
        name="b0"
        label="Learn More"
        type="button"
        class="mr-3 p-button-raised"
      ></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="assets/images/jpg/me-1-sm.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
<div class="col-12 flex flex-wrap align-between">
  <ng-container *ngFor="let exp of languages$ | async">
    <app-experience-card [data]="exp" [type]="'language'"></app-experience-card>
  </ng-container>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-center">
    <div></div>
    <div class="text-900 font-bold text-5xl mb-3">Full API Documentation</div>
    <div class="text-700 text-2xl mb-5">
      The Nest backend has a fully documented api built with NestJS and Swagger.
    </div>
    <button
      type="button"
      id="b5"
      pButton
      pRipple
      label="View API Docs"
      class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"
      (click)="openDocs()"
    ></button>
  </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-3xl">
    <span class="text-900">Organizations </span>
    <span class="text-blue-600">I have worked with</span>
  </div>
  <div class="text-700 mb-6">
    Over 15 years experience on Agile teams with Federal and Corporate
    organizations.
  </div>
  <div class="grid worked-with-container">
    <!-- <div class="worked-with">
    </div> -->
    <div class="worked-with">
      <img src="assets/images/svg/amazon.png" alt="Amazon" />
    </div>
    <div class="worked-with">
      <img src="assets/images/svg/fda.png" alt="Food & Drug Administration" />
    </div>
    <div class="worked-with">
      <img src="assets/images/svg/cox.png" alt="Cox Business" />
    </div>
    <div class="worked-with">
      <img src="assets/images/svg/ushealth.png" alt="US Heath Group" />
    </div>
    <div class="worked-with">
      <img src="assets/images/svg/sapient.png" alt="Publicis Sapient" />
    </div>
    <div class="worked-with">
      <img src="assets/images/svg/maximus.png" alt="Maximus" />
    </div>
    <div class="worked-with">
      <img src="assets/images/svg/xfinity.png" alt="Comcast NBC Universal" />
    </div>
    <div class="worked-with">
      <img src="assets/images/svg/aba.png" alt="American Bar Association" />
    </div>
  </div>
</div>
