<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <span class="block text-6xl font-bold mb-1">Ollie Tinsley</span>
      <div class="text-6xl text-primary font-bold mb-3">Software Engineer</div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        With over 15 years developing rich Web Applications with the last seven
        and a half years focusing on building Single Page Applications (SPA)...
        I've built this full-stack application to showcase my abilities.
      </p>

      <button
        pButton
        pRipple
        name="b0"
        label="Learn More"
        type="button"
        class="mr-3 p-button-raised"
      ></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="assets/images/jpg/me-1-sm.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
<div class="col-12 flex flex-wrap align-between">
  <ng-container *ngFor="let exp of languages$ | async">
    <app-experience-card [data]="exp" [type]="'language'"></app-experience-card>
  </ng-container>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-center">
    <div></div>
    <div class="text-900 font-bold text-5xl mb-3">Full API Documentation</div>
    <div class="text-700 text-2xl mb-5">
      The Nest backend has a fully documented api built with NestJS and Swagger.
    </div>
    <button
      type="button"
      id="b5"
      pButton
      pRipple
      label="View API Docs"
      class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"
      (click)="openDocs()"
    ></button>
  </div>
</div>
