<div class="grid grid-nogutter surface-section text-800 mid-bg">
  <div class="col-12 p-6 text-center md:text-left flex align-items-center">
    <section>
      <span class="block text-6xl font-bold mb-1">Ollie Tinsley</span>
      <div class="text-6xl text-primary font-bold mb-3">Software Engineer</div>
      <p class="col-12 md:col-8 lg:col-6 mt-0 mb-4 text-700 line-height-3">
        With over 15 years developing rich Web Applications with the last seven
        and a half years focusing on building Single Page Applications (SPA)...
        What better way to build an online resume than as a full-stack
        application. Project start date
        <span class="text-xl aggressive-yellow mr-2">{{ "{" }}</span
        >{{ "2024-01-19" | date: "MMM yyyy"
        }}<span class="text-xl aggressive-yellow ml-2">{{ "}" }}</span> so this
        is definitely still a work in progress if its less than a few weeks
        since this date.
      </p>

      <button
        title="About me"
        pButton
        pRipple
        name="b0"
        label="About Me coming soon!"
        type="button"
        class="mr-3 p-button-raised"
      ></button>
    </section>
  </div>
</div>

<div class="mt-5">
  <app-home-carousel></app-home-carousel>
</div>
<div
  class="surface-section surface-section-code px-4 py-8 md:px-6 lg:px-8 corner"
>
  <div class="text-700">
    <div class="code-header font-bold text-5xl mb-3">
      Full API Documentation
    </div>
    <div class="code-description text-2xl mb-5">
      The Nest backend has a fully documented api built with
      <a href="https://github.com/nestjs/swagger" target="_blank">{{
        "@nestjs/swagger"
      }}</a
      >.
    </div>
    <div class="swagger-img text-right">
      <img src="./assets/images/png/swagger-open-md.png" />
    </div>
    <div class="flex flex-nowrap align-items-center justify-items-between">
      <div class="flex-grow-1">
        <img class="openapi-img" src="./assets/images/png/openapi.png" />
      </div>
      <button
        type="button"
        id="b5"
        pButton
        pRipple
        label="View API Docs"
        class="code-button font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"
        (click)="openDocs()"
      ></button>
    </div>
  </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-3xl">
    <span class="text-900">Organizations </span>
    <span class="text-blue-600">I have worked with</span>
  </div>
  <div class="text-700 mb-6">
    I have spent the last 8 years working on Agile teams within Government and
    Corporate organizations.
  </div>
  <div class="grid worked-with-container">
    <div class="worked-with">
      <img src="assets/images/svg/amazon.png" alt="Amazon" />
    </div>
    <div class="worked-with">
      <img src="assets/images/svg/fda.png" alt="Food & Drug Administration" />
    </div>
    <div class="worked-with">
      <img src="assets/images/svg/cox.png" alt="Cox Business" />
    </div>
    <div class="worked-with">
      <img src="assets/images/svg/ushealth.png" alt="US Heath Group" />
    </div>
    <div class="worked-with">
      <img src="assets/images/svg/sapient.png" alt="Publicis Sapient" />
    </div>
    <div class="worked-with">
      <img src="assets/images/svg/maximus.png" alt="Maximus" />
    </div>
    <div class="worked-with">
      <img src="assets/images/svg/xfinity.png" alt="Comcast NBC Universal" />
    </div>
    <div class="worked-with">
      <img src="assets/images/svg/aba.png" alt="American Bar Association" />
    </div>
  </div>
</div>

<app-code
  [contentPaths]="[
    'components/layout/home/home.component.ts',
    'components/layout/home/home.component.scss',
    'components/layout/home/home.component.html',
    'components/layout/home/home-carousel/home-carousel.component.ts',
    'components/layout/home/home-carousel/home-carousel.component.html'
  ]"
></app-code>
