.worked-with-container {
  grid-gap: 3.5rem;
  justify-content: center;
  .worked-with {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
    padding: 1.5rem;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    img {
      max-height: 50px;
      max-width: 150px;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.8;
      -webkit-filter: initial; /* Safari 6.0 - 9.0 */
      filter: initial;
    }
  }
}

.openapi-img {
  max-height: 2rem;
}
.swagger-img img {
  max-width: 100%;
}
