@use "sass:selector";

@mixin unify-parent($child) {
  @at-root #{selector.unify(&, $child)} {
    @content;
  }
}

.flex {
  $self: &;
  display: flex;
  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: column;
  }
  &-row,
  &-column {
    flex-shrink: 0;
    width: 100%;
  }
  &-inline {
    display: inline-flex;
    flex-shrink: initial;
  }
  &-fill {
    flex-grow: 1;
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &-2 {
    flex: 0 0 50%;
  }
  &-3 {
    flex: 0 0 33.333333%;
  }
  &-4 {
    flex: 0 0 25%;
  }
  &-2,
  &-3,
  &-4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.align {
  $self: &;
  &-start {
    align-items: flex-start;
  }
  &-center {
    align-items: center;
  }
  &-end {
    align-items: flex-end;
  }
  &-stretch {
    align-items: stretch;
  }
}

.justify {
  $self: &;
  &-start {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-stretch {
    align-items: stretch;
  }
}
