p-card {
  display: inline-block;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  .p-card {
    height: 100%;
    .p-card-title {
      color: var(--primary-color);
    }
    .p-card-content {
      p {
        text-overflow: ellipsis;
        margin: 0;
        padding: 0;
      }
    }
  }
}

button {
  .p-button-icon,
  .p-button-label {
    display: none;
  }
  span.p-button-icon:first-of-type,
  span.p-button-label:first-of-type {
    display: inline-block;
  }
}

.no-input,
.p-inputtext {
  font-family: "Inter var", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.no-input,
.no-input * {
  outline: none !important;
  border: none !important;
  .p-focus {
    box-shadow: none !important;
  }
}
