<p-card [header]="data.name" [subheader]="data.level">
  <div class="card-flex flex flex-column">
    <p *ngIf="showDetail">{{ data.description }}</p>
    <div class="flex-fill flex flex-column justify-end mt-3">
      <div class="flex justify-between">
        <label class="text-primary">Experience:</label>
        <span>{{ data.yearsOfExperience }} years</span>
      </div>
      <div class="flex justify-between">
        <label class="text-primary">Last Used: </label>
        <span>{{ data.lastUsedDate | date: "MMM yyyy" }}</span>
      </div>
      <div *ngIf="showDetail" class="flex justify-between">
        <label class="text-primary">Company: </label>
        <span>{{ data.lastUsedAt }}</span>
      </div>
    </div>
  </div>
</p-card>
